<h1>Use the form below to edit a book</h1>

<br>

<form method="post" action="/books/<%= @book.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <div class="row">
    <div class="col-md-1">
      <label for="name">Name:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="name" id="name" value="<%= @book.name %>">
    </div>
 </div>

  <div class="row">
    <div class="col-md-1">
      <label for="author">Author:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="author" id="author" value="<%= @book.author %>">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
        <label for="genre">Genre:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="genre" id="genre" value="<%= @book.genre %>">
    </div>
  </div>

 

  <input type="submit" value="Submit">

  <br>
  <br>
  <br>

</form>

<p>To delete the book, click the button below.</p>

<form method="post" action="/books/<%=@book.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>