<h1><%= @book.name %></h1>

<br>

<h2>Author: <%= @book.author %></h2>

<br>

<h2>Genre: <%= @book.genre %></h2>

<br>

<h2>Click <a href="/books/<%= @book.slug %>/edit">here</a> to edit this title.</h2>

<br>

<h2>Currently Checked out to:<%= @lendee %></h2>

<br>
<br>

<h1>Check Out this book</h1>

<br>

<form method="post" action="/books/<%= @book.slug %>">

  <input type="hidden" name="_method" value="patch">

<h2>Who is checking this book out?</h2>

  <% Student.all.each do |student| %>

    <input type="radio" name="<%= @lendee %>" value="<student.name %>" id="<%= @lendee %>"><%= student.name %></input><br>

  <% end %>

  <br>

  <input type="submit" name="Check Out">

</form>
