<h1>Check Out</h1>

<br>

<h2>Click on the title that you would like to check out</h2>

<form method="post" action="/books/<%= @book.slug %>">

  <input type="hidden" name="_method" value="patch">

  <% Book.all.each do |book| %>

    <input type="radio" name="loans[book_ids][]" value="<book.name %>" id="<%= book.id %>"><%= book.name %></input><br>

  <% end %>

  <br>

   <h2>Who is checking this book out?</h2>

  <% Student.all.each do |student| %>

    <input type="radio" name="loans[student_ids][]" value="<student.name %>" id="<%= student.id %>"><%= student.name %></input><br>

  <% end %>

  <br>

  <input type="submit" name="Check Out">

</form>