<h1>Check Out</h1>
<h2>Which book would you like to check out?</h2>

<h2>Click on the title that you would like to check out</h2>

   <form method="post" action="/loans">

  <% @books.each do |book| %>

    <input type="radio" name="book_id" value="<%= book.id %>" id="<%= book.id %>"><%= book.name %></input>

<br>

  <% end %>

<br>

<h2>Who is checking this book out?</h2>

  <% @students.each do |student| %>

    <input type="radio" name="student_id" value="<%= student.id %>" id="<%= student.id %>"><%= student.name %></input><br>

  <% end %>

    <br>

    <input id="check_out" type="submit" name="book_name" value="Check Out">

  </form>

   <br>

  <p>Return to the <a href="/../welcome">home</a> page</p>